@import "~bootstrap/scss/bootstrap";
@import "header.scss";
@import "general.scss";
@import "colorpalette.scss";





// index order

.asterisco{
    color: $blue;
}
.field-required,.asterisco,label,.label,.btn-label,span{
    font-size: clamp(8px, 2vw, 18px) !important;
}

h1{
    font-size: clamp(30px, 3vw, 40px);
}

.nothing{
    font-size: clamp(15px, 3vw, 30px);
}

td,th{
    font-size: clamp(8px, 0.8vw, 14px);
}

.font-restaurants-details{
    font-size: clamp(14px, 2vw, 18px);
}

input,
textarea{
    font-size: clamp(10px, 2vw, 16px) !important;
}


