@import "colorpalette.scss";

*{
 box-sizing: border-box;
}

.sidebar-row{
    height: 90vh;
}


.hide{
    display: none;
}

img{
    max-width: 100%;
}

.form-container-100{
    position:relative;
    width: 80%;
    height: min-content;
    max-height: 65vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

.form-container{
    position:relative;
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}


.btn-action-form{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: $blue;
    color: $white;
    text-decoration: none;
}

.btn-right,
.btn-left{
    position: absolute;
    top: 10px;
}

.btn-right{
    right: 10px;
}

.btn-left{
    left: 10px;
}


form{
    height: min-content;
}


//
// menu hamburger
#sidebarMenu.collapse.show {
    height: min-content !important; /* o un'altezza specifica */
}

#sidebarMenu.collapse.hide {
    height: auto !important; /* o un'altezza specifica */
}

.green{
    color: green;
}

.red{
    color:$red;
}

// edit restaurant

.btn-typologies{
    width: 100%;
}

// edit restaurant

.square-text-container {
    width: 25vw;
    min-width: 150px;
    aspect-ratio: 1;
    // margin: 0 auto;
}

.square-image-container{

    width: 25vw;
    min-width: 150px;
    aspect-ratio: 1;
    // margin: auto;
}

.square-image,.square-image-restaurant,.square-image-edit-restaurant {
    width: 20vw;
    min-width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.square-image-restaurant{
    min-width: 100px;
}

.square-image-edit-restaurant{
    min-width: 136px;
}

.edit-restaurant{
    min-width: 85px
}


.btn{
    font-size: 13px;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


//dashboard

.row-dashboard{
  height: 90vh;
  padding: 0;
  margin: 0;

}


.form-visibility{
    padding: 0;
    margin: 0;
}

.btn-table{
    width: 30px;
    height: 30px;
}





.navbar-nav .dropdown-menu {
    position: absolute;
    top: 30px; /* Posiziona il dropdown immediatamente sotto l'elemento genitore */
    right: 0;
    background-color: white;
    z-index: 1000;
}

// dropdown menu welcome

/* In modalità mobile, rendi il dropdown statico o fixed per evitare l'espansione dell'header */
@media (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: fixed; /* Fixed mantiene il menu nella posizione senza alterare l'header */
        top: 50px;
        right: 0;
        // width: 100%;
        background-color: white;
        z-index: 1050;
        display: none; /* Nascondi il dropdown finché non viene attivato */
    }

    .navbar-nav .dropdown-menu.show {
        display: block;
        margin-top: 0;
    }
}

// dropdown menu welcome


// menu sidebar

.sidebar.show {
    position: fixed; /* Rende la sidebar visibile su tutta la pagina */
    top: 54px;
    left: 0;
    height: 100%; /* Assicura che la sidebar occupi l'intera altezza della pagina */
    z-index: 1050; /* Posiziona la sidebar sopra altri elementi */
    overflow-y: auto; /* Aggiunge uno scroll interno se il contenuto è più lungo della sidebar */
}


// menu sidebar



