@import "colorpalette.scss";

*{
 box-sizing: border-box;
}

.sidebar-row{
    height: 90vh;
}


.hide{
    display: none;
}

img{
    max-width: 100%;
}

.form-container-100{
    position:relative;
    width: 80%;
    height: min-content;
    max-height: 65vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

.form-container{
    position:relative;
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}


.btn-action-form{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: $blue;
    color: $white;
}

.btn-right{
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

form{
    height: min-content;
}


//
// menu hamburger
#sidebarMenu.collapse.show {
    height: min-content !important; /* o un'altezza specifica */
}

#sidebarMenu.collapse.hide {
    height: auto !important; /* o un'altezza specifica */
}

.green{
    color: green;
}

.red{
    color:$red;
}
// .index-restaurant .btn{
//     width: 10vw;
// }
// .index-restaurant div a,
// .index-restaurant form button{
//     font-size: 1.3vw;
// }

// edit restaurant

.btn-typologies{
    width: 100%;
}

// edit restaurant

.square-text-container {
    width: 25vw;
    min-width: 150px;
    aspect-ratio: 1;
    // margin: 0 auto;
}

.square-image-container{

    width: 25vw;
    min-width: 150px;
    aspect-ratio: 1;
    // margin: auto;
}

.square-image,.square-image-restaurant,.square-image-edit-restaurant {
    width: 20vw;
    min-width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.square-image-restaurant{
    min-width: 100px;
}

.square-image-edit-restaurant{
    min-width: 136px;
}

.edit-restaurant{
    min-width: 85px
}


.btn{
    font-size: 13px;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


//dashboard

.row-dashboard{
  height: 90vh;
  padding: 0;
  margin: 0;

}


.form-visibility{
    padding: 0;
    margin: 0;
}

.btn-table{
    width: 30px;
    height: 30px;
}





