@import "colorpalette.scss";


//commons general

*{
 box-sizing: border-box;
}

.sidebar-row{
    height: 90vh;
}

.hide{
    display: none !important;
}

img{
    max-width: 100%;
}

// form - container

.form-container-100{
    position:relative;
    width: 80%;
    height: min-content;
    max-height: 65vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

.form-container{
    position:relative;
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

form{
    height: min-content;
}

.form-padding{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
// /form - container

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// commons general

//commons btn
.btn{
    font-size: 13px;
}

.btn-action-form{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
    text-decoration: none;
}

.btn-action-form:hover{
    border-color: 0;
    color: white;
    background-color: $blue;
}

.btn-right,
.btn-left{
    position: absolute;
    top: 10px;
}

.btn-right{
    right: 10px;
}

.btn-left{
    left: 10px;
}

.size-btn-table{
    width: 30px;
    height: 30px;
}

//commons btn

// btn delete
#btnDelete{
    position:absolute;
    text-align: center;
    z-index: 10;
    top: 0%;
    left: 0%;
    border: 0;
    background-color: rgba(224, 0, 23,0.9);
    color: white;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.btnDelete span{
    display: inline-block;
    height: 20px;
}

#btnDelete:hover{
    cursor: pointer;
}
// /btn delete

// container img

.card-img{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

.square-image{
    width: 20vw;
    min-width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

// container img


//dashboard

// .row-dashboard{
//   height: 90vh;
//   padding: 0;
//   margin: 0;
// }

//dropdown menu welcome
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    z-index: 1000;
}

@media (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: fixed;
        top: 50px;
        right: 0;
        background-color: white;
        z-index: 1050;
        display: none;
    }

    .navbar-nav .dropdown-menu.show {
        display: block;
        margin-top: 0;
    }
}

// dropdown menu welcome

// sidebar

.sidebar.show {
    position: fixed;
    top: 54px;
    left: 0;
    height: 100%;
    z-index: 1050;
    overflow-y: auto;
}
// /sidebar

// navbar-admin
.navbar-toggler{
    box-shadow: none !important;
    border-color: 1px solid gray !important;
    background-image: none !important;
}

.navbar-toggler:hover{
    border: 1px solid $white !important;
    transition: 0.5s;
}

// navbar-admin

// homepage logo
.logoext{
    width: 400px;
}

@media (max-width: 768px){
    .logoext{
        width: 300px;
    }
}
// /home page logo

//pagination
.pagination .page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 1.5;
    font-size: 16px;
}

.pagination .page-item .page-link i {
    margin: 0 auto;
}
// /pagination

.types{
    width: calc(100% / 8);
}

@media (max-width: 768px ){
    .types{
        width: calc(100% / 4 - 10px);
    }
}

@media (max-width: 468px ){
    .types{
        width: calc(100% / 2 - 10px);
    }
}
